*{
    box-sizing: border-box;
}

  table,td,tfoot {
    border-collapse: collapse;
}
th,tfoot {
    background-color:rgb(173, 169, 169);
    Color:white;
}
th, td ,tfoot{
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:5px
  
}
body{
    background-color:rgb(241, 221, 200);
}

 header{
     background-color:rgb(116, 58, 32);
     border: 2px solid rgb(206, 204, 204);
 }
 h1{
     color:rgb(219, 169, 146);
     padding-left: 10px;
 }
 h2{
   text-align: center;
   font-family: 'Dancing Script', cursive;
 }
 nav ul li{
     display: inline;
     padding: 20px;
     
   
 }
 nav ul li a{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font: bold;
    color:rgb(219, 169, 146);
   
 }

 nav ul li:hover{
   background-color: gray;

  }
div{
    text-align: center;
  
  
}
 #pic1{
    display: block;
     margin-left: auto;
     margin-right: auto;     
    
 }
 #p1{
     font-size: 18px;
     padding-top: 50px;
     padding: 3%;
     padding-left: 20px;
     padding-right: 20px;
     width: 75%;
     color: black;
     margin: auto;
     display: block;
 }

p{
    padding: 20px;
    width: 90%;
    border: 2px solid rgb(196, 189, 189);
    
}

#location{

font-family: 'Triocchi', sans-serif;
 padding-top: 50px;
    font-size: 18px;
   color: #0e0d0d;
    text-align: center;
    width: 75%;
    padding: 3%;
    margin: auto;
    display:block;
    
}

.one{

   padding: 30px;
   display: block;
   margin: i0px;
}